// -----------------------------------------------------------------------------
// FAQs section styles & layout
// -----------------------------------------------------------------------------

.faq {
  margin-bottom: 7.5rem;
}


.faq__title,
.faq__section {
  margin-bottom: 3rem;

  @media (min-width: $bp-medium) {
    margin-bottom: 4rem;
  }
}


.faq__subtitle {
  margin-bottom: 2rem;
}


.faq__item {
  background: $clr-snow;
  text-align: left;
  padding: 2rem 1.75rem 2rem 2rem;
  margin-bottom: 1rem;
  position: relative;
  cursor: pointer;

  &:hover {
    background: $clr-light-yellow;
  }
  
  @media (min-width: $bp-medium) {
    padding: 2rem 2rem 2rem 2.5rem;
    margin-bottom: 1.5rem;
  }
}


.faq__question {
  display: inline-block;
  margin-right: 32px;
  transition: $transition;
}


.faq__answer {
  max-height: 0;
  overflow: hidden;
  transition: $transition;
}


.faq__question--active {
  margin-bottom: 1.5rem;
}


.faq__question--active::after {
  transform: rotateX(180deg);
}


.item__header {
  @include flex;
}


.faq__question::after {
  content: url("../../../assets/icons/chevron.svg");
  position: absolute;
  top: 38px;
  right: 28px;
  transition: $transition;
  @media (min-width: $bp-medium) {
    right: 32px;
  }
}



//
// Large screen grid layout
// ==========================================================================

@media (min-width: $bp-large) {

  .faq {
    margin-bottom: 9rem;
  }


  .faq__section {
    display: grid;
    grid-template-columns: 3.22fr 6.78fr;
    margin-bottom: 3rem;
  }


  .faq__subtitle {
    grid-row: span 3;
    text-align: left;
    width: 350px;
    margin-right: 30px;
  }

  
  .faq__item {
    padding: 2.5rem;
    margin-bottom: 1rem;
  }
}