// -----------------------------------------------------------------------------
// Footer styles & layout
// -----------------------------------------------------------------------------

.footer {
  background: $clr-dark-stone;
  text-align: center;
  padding-top: 64px;
  padding-bottom: 88px;
}

.footer__links {
  margin-bottom: 85px;
}

.footer__links .link {
  margin-bottom: 1rem;
}


.footer__socials {
  display: flex;
  justify-content: space-between;
  max-width: 120px;
  margin: 0 auto;
}


.footer__logo {
  background: center / contain no-repeat url("../../../assets/logo-white.svg");
  fill: white;
  display: inline-block;
  width: 107.82px;
  height: 28.56px;
  margin-bottom: 2.6rem;
}