// -----------------------------------------------------------------------------
// Footer styles & layout
// -----------------------------------------------------------------------------

.footer {
  background: $clr-dark-stone;
  padding-top: 64px;
  padding-bottom: 88px;
}


.footer__links {
  margin-bottom: 85px;
}


.footer__links .link {
  margin-bottom: 1rem;
}


.footer__socials {
  @include flex;
  max-width: 120px;
  margin: 0 auto;
  
  & li:not(:last-child) {
    margin-right: 24.5px;
  }
  
  & path {
    transition: $transition;
  }

  & a:hover path,
  & a:focus path {
    fill: $clr-white;
  }
}


.footer__logo {
  background: center / contain no-repeat url("../../../assets/logo-white.svg");
  fill: white;
  display: inline-block;
  width: 107.82px;
  height: 28.56px;
  margin-bottom: 2.6rem;
}



//
// Medium screens layout
// ==========================================================================

@media (min-width: $bp-medium) {

  .footer {
    padding-top: 35px;
    padding-bottom: 32px;
  }


  .footer .container {
    @include flex(row, flex-start);
  }


  .footer__links {
    @include flex;
    margin-bottom: 0;

    & .link {
      padding: 0;
      margin-right: 2rem;
      margin-bottom: 0;
    }
}

  
  .footer__logo {
    margin-right: 58px;
    margin-bottom: 0;
  }


  .footer__socials {
    margin-right: 0;
  }
}