// -----------------------------------------------------------------------------
// Intro styles & layout
// -----------------------------------------------------------------------------

//
// Small size layout
// ==========================================================================

.intro {
  padding-top: 120px;
  padding-bottom: 83px;
}


.intro__card {
  max-width: 350px;
  margin: 0 auto 4rem;
}


.intro__image {
  width: 56px;
  height: 56px;
  margin-bottom: 1.5rem;
}


.intro__title {
  margin-bottom: 1.5rem;
}



//
// Medium size layout
// ==========================================================================

@media (min-width: $bp-medium) {

  .intro {
    padding-top: 122px;
    padding-bottom: 83px;
  }


  .intro__card {
    text-align: left;
    @include flex($align: stretch);
    max-width: 573px;
    margin-bottom: 2.5rem;
    position: relative;
  }


  .intro__image {
    width: 96px;
    height: 96px;
  }


  .intro__textbox {
    max-width: 400px;
  }


  .intro__title {
    margin-bottom: 1.6875rem;
  }


  // Grey line between images
  .intro__card::before {
    content: "";
    display: block;
    position: absolute;
    top: -140px;
    left: 40px;
    z-index: -1;
    width: 1rem;
    height: 220px;
    background: $clr-light-grey;
  }
}



//
// Large size layout
// ==========================================================================

@media (min-width: $bp-large) {

  .intro {
    @include flex($align: stretch);
    padding-top: 160px;
    padding-bottom: 147px;
  }


  .intro__card {
    flex-direction: column;
    margin-left: 0;
    margin-right: 1.875rem;

    &:last-child {
      margin-right: 0;
    }
  }


  .intro__image {
    margin-bottom: 2.5rem;
  }


  // Grey line between images
  .intro__card::before {
    top: 40px;
    left: -950px;
    height: 1rem;
    width: 1000px;
  }
}