// -----------------------------------------------------------------------------
// Main-content sections styles & layout
// -----------------------------------------------------------------------------

//
// Layout
// ==========================================================================

.main-content {
  margin-bottom: 7.5rem;
  position: relative;
}


.main-content__image {
  border-radius: 50%;
  margin-bottom: 3.5rem;
}


.main-content__text {
  max-width: 573px;
  margin: 0 auto 2rem;
}


.main-content__title {
  max-width: 315px;
  margin: 0 auto 2rem;
}


// Medium screen layout
@media (min-width: $bp-medium) {

  .main-content__title {
    max-width: 450px;
    margin-bottom: 2.5rem;
  }


  .main-content__text {
    margin-bottom: 2.5rem;
  }
}


// Large screen layout
@media (min-width: $bp-large) {

  .main-content {
    @include flex(row-reverse);
    text-align: left;
  }


  .main-content--reversed {
    flex-direction: row;
  }


  .main-content__image {
    margin-bottom: 0;
  }


  .main-content__title {
    margin: 0 0 1.5rem;
  }


  .main-content__text {
    max-width: 445px;
  }
}


// X Large screen layout
@media (min-width: $bp-xlarge) {

  .main-content {
    position: initial;
  }


  .positioning-container {
    position: relative;
  }
}



//
// Arrow images
// ==========================================================================

// Arrow images standard position (Home page 1st position)
.main-content::before {
  content: url("../../../assets/patterns/left-downward-arrow.svg");
  position: absolute;
}


.main-content.main-content--reversed::before {
  content: url("../../../assets/patterns/right-arrow.svg");
}



//
// Arrow positioning
// ==========================================================================

// Home page 1st position / Careers page 1st position
.arrow-pos-1::before {
  right: -420px;
  top: 165px;

  @media (min-width: $bp-medium) {
    right: 0px;
    top: 300px;
  }

  @media (min-width: $bp-large) {
    right: -135px;
  }

  @media (min-width: $bp-xlarge) {
    right: -10px;
  }

}


// Home page 2nd position
.arrow-pos-2::before {
  left: -200px;
  top: -10px;

  @media (min-width: $bp-medium) {
    left: -100px;
  }

  @media (min-width: $bp-large) {
    left: -135px;
  }

  @media (min-width: $bp-xlarge) {
    left: -10px;
  }
}


// Home page 3rd position //
.arrow-pos-3::before {
  right: -520px;
  top: 0px;

  @media (min-width: $bp-medium) {
    right: -370px;
    top: 75px;
  }

  @media (min-width: $bp-large) {
    right: -515px;
  }

  @media (min-width: $bp-xlarge) {
    right: -392px;
  }
}


// About page 1st position //
.arrow-pos-4::before {
  content: url("../../../assets/patterns/left-upward-arrow.svg");
  right: -395px;
  top: 130px;

  @media (min-width: $bp-medium) {
    right: 0px;
    top: 260px;
  }

  @media (min-width: $bp-large) {
    right: -165px;
  }

  @media (min-width: $bp-xlarge) {
    right: -42px;
  }
}


// About page 2nd position //
.arrow-pos-5::before {
  left: -105px;
  top: 0;

  @media (min-width: $bp-large) {
    left: -135px;
  }

  @media (min-width: $bp-xlarge) {
    left: -10px;
  }
}



//
// Semicircle images
// ==========================================================================

//  Medium screens
@media (min-width: $bp-medium) {

  .main-content::after {
    content: url("../../../assets/patterns/circle.svg");
    position: absolute;
    right: -350px;
    top: 0;
    z-index: -1;
  }


  .main-content--reversed::after {
    right: initial;
    left: -350px;
  }
}


// Large screens
@media (min-width: $bp-large) {

  .main-content::after {
    right: -475px;
  }


  .main-content--reversed::after {
    right: initial;
    left: -475px;
  }
}


// X Large screens
@media (min-width: $bp-xlarge) {

  .main-content::after {
    right: -350px;
  }


  .main-content--reversed::after {
    right: initial;
    left: -350px;
  }
}