// -----------------------------------------------------------------------------
// Application-wide Sass/CSS variables.
// -----------------------------------------------------------------------------


// Headings font family
$ff-headings: 'Space Mono', monospace;

// Regular font family
$ff-body: 'Lexend Deca', sans-serif;



// Copy text color
$clr-yellow: hsl(40, 97%, 58%);
$clr-dark-navy: hsl(216, 17%, 35%);
$clr-mid-grey: hsl(217, 12%, 62%);
$clr-light-grey: hsl(212, 41%, 93%);
$clr-snow: hsl(214, 37%, 96%);
$clr-light-yellow: hsl(39, 100%, 94%);
$clr-white: #fff;



// Container's maximum width
$max-width: 1180px;



// Breakpoints
  $bp-small: 320px;
  $bp-medium: 768px;
  $bp-large: 1024px;



  $transition: 0.2s ease-out;